Considere a tabela a seguir com 10 grandes multinacionais e seus respectivos países de origem:

Empresa | País de origem
--- | ---
Exxon Mobil | 1
JP Morgan Chase | 1
General Electric | 1
Royal Dutch Shell | 2
ICBC | 3
HSBC Holdings | 4
PetroChina | 3
Berkshire Hathaway | 1
Wells Fargo | 1
Petrobras | 5

Observe que os países de origem das empresas são representados por números inteiros. Neste caso, os números são apenas rótulos para as categorias de países de origem (Estados Unidos, 1; Holanda, 2; China, 3; Reino Unido, 4; Brasil, 5). Não faz sentido somar, subtrair, multiplicar ou dividir os números que representam os países de origem das empresas. Portanto, a escala de mensuração é nominal.

In [1]:
import pandas as pd

# passando a tabela exemplo para um dicionário
empresas = {
    "Exxon Mobil": 1,
    "JP Morgan Chase": 1,
    "General Electric": 1,
    "Royal Dutch Shell": 2,
    "ICBC": 3,
    "HSBC Holdings": 4,
    "PetroChina": 3,
    "Berkshire Hathaway": 1,
    "Wells Fargo": 1,
    "Petrobras": 5,
}

# dicionário com os países
paises = {
    1: "Estados Unidos",
    2: "Holanda",
    3: "China",
    4: "Reino Unido",
    5: "Brasil",
}

In [ ]:
df_empresa = pd.DataFrame(empresas.items(),columns=['empresa',"codigo_pais"])

df_empresa

              empresa  codigo_pais
0         Exxon Mobil            1
1     JP Morgan Chase            1
2    General Electric            1
3   Royal Dutch Shell            2
4                ICBC            3
5       HSBC Holdings            4
6          PetroChina            3
7  Berkshire Hathaway            1
8         Wells Fargo            1
9           Petrobras            5

In [4]:
df_empresa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   empresa      10 non-null     object
 1   codigo_pais  10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 292.0+ bytes

In [ ]:
#describe não faz sentido
df_empresa.describe()

       codigo_pais
count     10.00000
mean       2.20000
std        1.47573
min        1.00000
25%        1.00000
50%        1.50000
75%        3.00000
max        5.00000