In [3]:
import pandas as pd

dados_triagem = './dados/triagem_medica.csv'


df_triagem= pd.read_csv(dados_triagem)

df_triagem

,nome,setor,idade,salario,peso,altura,horario_de_entrada,temperatura_corporal,pressao_arterial_sistolica,pressao_arterial_diastolica,glicemia
0,João Silva,TI,28,7800,90,1.82,08:00,36.5,120,80,80
1,Maria Souza,Vendas,31,3500,60,1.55,07:55,36.6,110,70,90
2,José Araújo,TI,25,8000,82,1.70,08:01,36.0,130,85,70
3,Ana Dantas,Financeiro,40,6000,70,1.74,08:30,37.2,170,100,100
4,Carlos Alves,RH,55,3000,65,1.62,07:53,36.9,125,75,85
5,Tadeu Lima,TI,30,7500,75,1.80,08:10,35.8,115,70,95
6,Marta Costa,Vendas,35,4000,55,1.60,08:05,36.7,110,65,75
7,Pedro Barros,Financeiro,45,5000,78,1.78,08:20,36.8,150,90,110
8,Lucas Cardoso,TI,27,7000,85,1.75,08:02,36.5,120,80,85
9,Sandra Gomes,RH,50,3200,62,1.58,07:45,36.4,140,95,105